<head>
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Slabo+27px" rel="stylesheet"> -->
<link rel="shortcut icon" href="../dist/assets/wiconi.ico"/>
<link rel="icon" href="../dist/assets/wiconi.ico" type="image/x-icon"/>
</head>

<nav class="navbar navbar-default" id="menuhaut">
  <div class="container-fluid teal lighten-3">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{ link-to 'WOOLLY' 'index' class="navbar-brand" }}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>{{ link-to 'Ventes en cours' 'ventes' }}</li>
          <li>{{ link-to 'Mes commandes' 'orders' }}</li>
        <li>{{ link-to 'Mon profil' 'user' }}</li>
        <li>{{ link-to 'À propos' 'about' }}</li>
        <li>{{ link-to 'Log in' 'login' }}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

{{!-- The following component displays Ember's default welcome message. --}}
<!-- application.hbs -->

<!--
<header>

<nav class="navbar navbar-toggleable-lg fixed-top mobile-nofixed navbar-dark teal lighten-2 " id="menuhaut">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
</button>

        <a class="navbar-brand h2-responsive" href="#">Woolly</a>

        <div class="collapse navbar-collapse liste" id="navbarNav1">
           <ul class="navbar-nav mr-auto ">
               <li class="nav-item active mx-3">
                   <a class="nav-link h5-responsive" href="billeterie">
                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      <i class="fa fa-search" aria-hidden="true"></i>  Accueil  <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item mx-3">
                   <a class="nav-link h5-responsive">
                     <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>  Mes commandes  </a>
               </li>
               <li class="nav-item  mx-3">
                   <a class="nav-link h5-responsive">
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <i class="fa fa-user" aria-hidden="true"></i>  Mon profil  </a>
               </li>
            </ul>

    </div>
  </div>
</nav>

</header>
<body>
{{outlet}}
</body>

<footer class="page-footer ">
  <!Footer Links-->
<!-- <div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <h5 class="title">Plan du site</h5>
            <p> Pour toute question contactez la SIMDE. </p>
        </div>
        <!/.First column-->

        <!--Second column-->
        <!-- <div class="col-md-6">
            <h5 class="title">Links</h5>
            <ul>
                <li><a href="#!">Billets disponibles</a></li>
                <li><a href="#!">Comment ça marche</a></li>
                <li><a href="#!"> A propos</a></li>
                <li><a href="#!">Mes commandes</a></li>
                <li><a href="#!">Mon profil</a></li>
            </ul>
        </div>
    </div>
</div> -->
<!--/.Footer Links-->
<!-- </footer>  -->
