<div class="col-md-6 search-left">
 <div class="list-group">
   <!-- TODO données à récuperer du modele order   -->
     <caption class="m-3">{{model.name}} Component</caption>
     <a class="list-group-item row" id="{{model.name}}">
       <span class="col-md-8 article">1/2 panier légumes </span>
         <input class="col-md-2 qty-input form-group"  min="0" type="number" value="0"/>
     </a>
     <a href="#" class="list-group-item row " id="{{model.name}}2">
        <span class="col-md-8 article">Panier entier légumes </span>
           <input class="col-md-2 qty-input form-group"  min="0" type="number" value="0"/>
     </a>
     <a href="#" class="list-group-item row">
       <span class="col-md-8 article">Panier fruits </span>
       <input class="col-md-2 qty-input form-group"  min="0" type="number" value="0"/>
     </a>
     <a href="#" class="list-group-item row">
       <span class="col-md-8 article">Oeufs</span>
       <input class="col-md-2 qty-input form-group"  min="0" type="number" value="0"/>
     </a>
     <a href="#" class="list-group-item row">
       <span class="col-md-8 article">Pain</span>
       <input class="col-md-2 qty-input form-group"  min="0" type="number" value="0"/>
     </a>
     <a href="#" class="list-group-item row">
       <span class="col-md-8 article">Miel</span>
       <input class="col-md-2 qty-input form-group" min="0" type="number" value="0"/>
     </a>
     <a href="" onclick="confirmReservation()" class="list-group-item row reservation" >
       Commander
       <!-- <span class=" btn reservation waves-effect waves-light">
       Commander
     </span> -->
      </a>
 </div>
  </div>

  <div class=" col-md-6 search-right card card-block pb-0 " id="{{model.name}}_desc">
    <h4 class=" card-title"> 1/2 panier légumes un</h4>
    <p class="card-text">
      <span class="description row">
         {{model.description}}
      </span> <br/>
     <span class="row">
      <i class="col-md-7"> Fin de la vente :
        <!-- {{moment-format model.endDate 'MM-DD-YYYY'}} -->
        {{format-date model.endDate}}
         </i>
      <span class="col-md-3  prix ">
        <!-- 34 € -->
        {{format-currency 34}}
        <!-- {{model.article.price}}.{{model.user.type}} -->
      </span>
    </span>

    </p>
    <!-- <a href="" onclick="confirmReservation()" class="btn reservation waves-effect waves-light" id="alert-reservation" > Commander </a> -->
  </div>
  <div class=" col-md-6 search-right card card-block pb-0" id="{{model.name}}2_desc">
    <h4 class=" card-title"> 1/2 panier légumes deux </h4>
    <p class="card-text">
      <span class="description row">
         {{model.description}}
      </span> <br/>
     <span class="row">
      <i class="col-md-7"> Fin de la vente :
        <!-- {{moment-format model.endDate 'MM-DD-YYYY'}} -->
        {{format-date model.endDate}}
         </i>
      <span class="col-md-3  prix ">
        <!-- 34 € -->
        {{format-currency 34}}
        <!-- {{model.article.price}}.{{model.user.type}} -->
      </span>
    </span>

    </p>
    <!-- <a href="" onclick="confirmReservation()" class="btn reservation waves-effect waves-light" id="alert-reservation" > Commander </a> -->
  </div>
{{yield}}
